PORT=3000
GEMINI_API_KEY=ta_cle_gemini_ici
OWNER_NUMBER=237692798136
MOTHER_NUMBER=237692798136
BOT_NAME=Miyabi
SEND_STICKERS=true
GEMINI_API_KEY_1=clé1
GEMINI_API_KEY_2=clé2
GEMINI_API_KEY_3=clé3
GEMINI_API_KEY_4=clé4
